//font sizes
$font-12: 12px;
$font-13: 13px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-22: 22px;
$font-24: 24px;
$font-25: 25px;
$font-28: 28px;
$font-29: 29px;

$font-30: 30px;
$font-50: 50px;
$font-65: 65px;
$font-100: 100px;

//font weights
$font-400: 400;
$font-500: 500;
$font-600: 600;
$font-700: 700;
$font-900: 900;

//color
$color-1: #ffffff;
$color-2: #1762af;
$color-3: #f8b333;
$color-4: #342727;
$color-5: #272c34;
$color-6: #7e6b67;
$color-7: #fb5b29;
$color-8: #f95927;
$color-9: #86342229;
$color-10: #ff6233;
$color-11: #fffbfa;
$color-12: #d5c8c6;
$color-13: #f85b33;
$color-14: #000000;
$color-15: #82706c;
$color-16: #db206a;
$color-17: #18b273;
$color-18: #0959c1;
$color-19: #4a516a;
$color-20: #88636329;
$color-21: #84726e;
$color-22: #8b7a77;
$color-23: #f7f7f7;
$color-24: #fb774d;
$color-25: #fb6739;
$color-26: #ad9e9a;
$color-27: #f76b4c;
$color-28: #f96b46;
//font  families
$font-family-1: "Poppins", sans-serif;
$font-family-2: "Domine", serif;
